@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
/* Primary colors */
/* Neutral colors */
/* Custom colors */
/* Font family */
* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: #e5eff5;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #e5eff5;
}

.box-wrapper {
  max-width: 312px;
  margin: 72px auto 10px;
  border-radius: 10px;
  overflow: hidden;
}

.box {
  padding-left: 24px;
  padding-right: 24px;
}

.top-box {
  background-color: white;
  padding-top: 24px;
  grid-area: top-box;
}

.top-box__header {
  font-size: 1.2rem;
  padding-bottom: 28px;
  color: #2ab2af;
}

.top-box__trial {
  font-size: .9rem;
  font-weight: 700;
  color: #c0df34;
  padding-bottom: 24px;
}

.top-box__text {
  color: #98a6bd;
  font-size: .8rem;
  line-height: 1.5rem;
  padding-bottom: 38px;
}

.left-box {
  background-color: #2ab2af;
  grid-area: left-box;
}

.left-box__header {
  font-size: 1rem;
  padding-top: 24px;
  padding-bottom: 20px;
}

.left-box__price {
  color: #94e6e3;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}

.left-box__price > span {
  font-size: 1.8rem;
  font-weight: 700;
  padding-right: 15px;
}

.left-box__access {
  padding-bottom: 32px;
}

.left-box__button {
  width: 100%;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 24px;
  color: white;
  font-size: 1rem;
  background-color: #c0df34;
  outline: none;
}

.right-box {
  background-color: #59c5c3;
  grid-area: right-box;
}

.right-box__header {
  font-size: 1rem;
  padding-top: 26px;
  padding-bottom: 20px;
}

.right-box__text {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: .8rem;
  font-weight: lighter;
  color: #e5eff5;
  padding-bottom: 20px;
}

.right-box__text > p {
  padding-bottom: 5px;
}

@media screen and (min-width: 700px) {
  .box-wrapper {
    max-width: 636px;
    height: 476px;
    margin-top: 166px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'top-box top-box' 'left-box right-box';
  }
  .box {
    max-height: 240px;
    padding: 40px 42px 26px;
  }
  .top-box__header {
    font-size: 1.4rem;
    padding-bottom: 24px;
  }
  .top-box__trial {
    font-size: 1.1rem;
    padding-bottom: 12px;
  }
  .top-box__text {
    font-size: 1rem;
    padding-bottom: 0;
  }
  .left-box {
    padding-bottom: 0;
    padding-right: 0;
  }
  .left-box__header {
    font-size: 1.1rem;
    padding-top: 0;
    padding-bottom: 18px;
  }
  .left-box__price {
    padding-bottom: 4px;
  }
  .left-box__price > span {
    font-size: 2rem;
  }
  .left-box__access {
    padding-bottom: 30px;
  }
  .left-box__button {
    max-width: 234px;
    margin-bottom: 10px;
  }
  .left-box__button:focus {
    background-color: rgba(192, 223, 52, 0.753);
    border-color: white;
  }
  .right-box {
    padding-bottom: 0;
  }
  .right-box__header {
    padding-top: 0;
    font-size: 1.1rem;
  }
  .right-box__text {
    font-size: .85rem;
  }
}
/*# sourceMappingURL=index.css.map */