@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Primary colors */
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);

/* Neutral colors */
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

/* Custom colors */
$light-cyan: hsl(178, 62%, 74%);
$lighter-cyan: hsl(179, 48%, 56%);

/* Font family */
$ff-karla: 'Karla', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $ff-karla;
    color: $light-gray;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $light-gray;
}

.box-wrapper {
    max-width: 312px;
    margin: 72px auto 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 20px hsla(197, 13%, 74%, 0.671);
}

.box {
    padding-left: 24px;
    padding-right: 24px;
}

.top-box {
    background-color: white;
    padding-top: 24px;
    grid-area: top-box;

    &__header {
        font-size: 1.2rem;
        padding-bottom: 28px;
        color: $cyan;
    }

    &__trial {
        font-size: .9rem;
        font-weight: 700;
        color: $bright-yellow;
        padding-bottom: 24px;
    }

    &__text {
        color: $grayish-blue;
        font-size: .8rem;
        line-height: 1.5rem;
        padding-bottom: 38px;
    }
}

.left-box {
    background-color: $cyan;
    grid-area: left-box;

    &__header {
        font-size: 1rem;

        padding-top: 24px;
        padding-bottom: 20px;
    }

    &__price {
        color: $light-cyan;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 8px;

        > span {
            font-size: 1.8rem;
            font-weight: 700;
            padding-right: 15px;
        }
    }

    &__access {
        padding-bottom: 32px;
    }

    &__button {
        width: 100%;
        height: 50px;
        border: 2px solid transparent;
        border-radius: 5px;
        margin-bottom: 24px;
        color: white;
        font-size: 1rem;
        background-color: $bright-yellow;
        outline: none;
    }
}

.right-box {
    background-color: $lighter-cyan;
    grid-area: right-box;

    &__header {
        font-size: 1rem;
        padding-top: 26px;
        padding-bottom: 20px;
    }

    &__text {
        align-items: left;
        font-size: .8rem;
        font-weight: lighter;
        color: $light-gray;
        padding-bottom: 20px;
        
        > p {
            padding-bottom: 5px;
        }
    }
}

@media screen and (min-width: 700px) {

    .box-wrapper {
        max-width: 636px;
        height: 476px;
        margin-top: 166px;
        display: grid;
        grid-template-areas: 'top-box top-box'
                           'left-box right-box';
    }

    .box {
        max-height: 240px;
        padding: 40px 42px 26px;
    }

    .top-box {
        &__header {
            font-size: 1.4rem;
            padding-bottom: 24px;
        }

        &__trial {
            font-size: 1.1rem;
            padding-bottom: 12px;
        }

        &__text {
            font-size: 1rem;
            padding-bottom: 0;
        }
    }

    .left-box {
        padding-bottom: 0;
        padding-right: 0;

        &__header {
            font-size: 1.1rem;
            padding-top: 0;
            padding-bottom: 18px;
        }
        
        &__price {
            padding-bottom: 4px;
            > span {
                font-size: 2rem;
            }
        }

        &__access {
            padding-bottom: 30px;
        }

        &__button {
            max-width: 234px;
            margin-bottom: 10px;

            &:focus {
                background-color: hsla(71, 73%, 54%, 0.753);
                border-color: white;
            }
        }
    }

    .right-box {
        padding-bottom: 0;

        &__header {
            padding-top: 0;
            font-size: 1.1rem;
        }

        &__text {
            font-size: .85rem;
        }
    }
}